# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Env
.env

# OS
Thumbs.db

# SQLite
*.db-journal

# Portable Git
PortableGit/

# VS Code
.vscode/

# Logs
*.log
